.activeButton {
  font-family: var(--fontFamily) !important;
  background-color: var(--primary500) !important;
  border-radius: 4px !important;
  padding: 17px 10px !important;
  color: var(--white) !important;
  text-transform: capitalize !important;
  font-size: 20px !important;
  line-height: 1 !important;
}

.cancelButton {
  font-family: var(--fontFamily) !important;
  background-color: var(--white) !important;
  border-radius: 4px !important;
  padding: 16px 10px !important;
  color: var(--primary500) !important;
  text-transform: capitalize !important;
  font-size: 20px !important;
  line-height: 1 !important;
  border: 1px solid var(--primary500) !important;
}

.deleteButton {
  font-family: var(--fontFamily) !important;
  background-color: var(--white) !important;
  border-radius: 4px !important;
  padding: 16px 10px !important;
  color: var(--red) !important;
  text-transform: capitalize !important;
  font-size: 20px !important;
  line-height: 1 !important;
  border: 1px solid var(--red) !important;
}
