.user_mainContainer {
  padding: 30px;
}
.user_buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.user_titleText {
  font-size: 24px !important;
  font-weight: 300 !important;
  color: var(--black) !important;
}

.user_subContainer {
  background-color: var(--white);
  border-radius: 4px;
  padding: 25px;
}

.user_textFieldContainer {
  margin-top: 30px !important;
}

.user_BtnContainer {
  margin-top: 30px !important;
}

.user_tab {
  width: 100% !important;
  max-width: 33% !important;
  text-transform: capitalize !important;
}

.Mui-selected {
  color: var(--primary500) !important;
  font-family: var(--fontFamily) !important;
  text-transform: capitalize !important;
}
