.imageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.profileplaceHolder {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 4px;
  padding: 5px;
  border: 1px dashed var(--gray);
  cursor: pointer;
}
.imageTitleTxt {
  font-size: 24px !important;
  font-weight: 400 !important;
  color: var(--black) !important;
}
.imageDescTxt {
  font-size: 14px !important;
  margin: 7px 0px !important;
  font-weight: 400 !important;
  color: var(--black) !important;
}
.imageInput {
  display: none;
}
.imageUploadBtn {
  background: var(--primary500) !important;
  color: var(--white) !important;
}
.errorTxt {
  color: var(--red) !important;
}
.multipleImageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.multipleImageContainer_fieldset {
  border: 1px solid var(--gray);
  border-radius: 3px;
  width: 100%;
  padding: 20px;
}
.multipleImageContainer_title {
  padding: 0.2em 0.4em;
  font-size: 24px;
  font-weight: 300;
  color: var(--black);
  font-family: var(--fontFamily);
}
.multipleImage_subContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.multipleImage_placeHolder {
  width: 170px;
  height: 170px;
  margin-right: 20px;
  object-fit: contain;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer;
  border: 1px dashed var(--gray);
}
.multipleImage_noimage {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
.multipleImage_errorText {
  padding: 0.2em 0.8em;
  color: var(--red) !important;
  font-family: var(--fontFamily);
}
