.header_mainContainer {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_gridContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logoImage {
  width: 100%;
  object-fit: cover;
  height: 85px;
  cursor: pointer;
}

.header_btnContainer {
  align-items: center;
  justify-content: space-around;
}

.header_userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

.header_userIcon {
  width: max-content;
  object-fit: contain;
  height: 25px;
  cursor: pointer;
}

.header_personText {
  font-family: var(--fontFamily) !important;
  font-size: 16px !important;
  color: var(--black);
  margin: 0px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize !important;
}

.header_logoutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

.header_logoutIcon {
  width: max-content;
  object-fit: contain;
  height: 32px;
  cursor: pointer;
}

.header_logoutText {
  font-family: var(--fontFamily) !important;
  font-size: 16px !important;
  color: var(--red);
  margin: 0px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: capitalize !important;
}

.privateheader_mainContainer {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.privateheader_gridContainer {
  align-items: center;
}

.privateheader_logoImage {
  width: 100%;
  object-fit: cover;
  height: 85px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header_userMainContainer {
    display: none;
  }
  .header_logoutText {
    display: none;
  }
  .header_logoutIcon {
    height: 24px;
  }
}
