.delete_modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_modalSubContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 29px;
  padding: 32px;
  justify-content: center;
  width: max-content;
}

.delete_modalTitleText {
  font-size: 24px !important;
  font-weight: 600 !important;
  text-align: center !important;
  font-family: var(--fontFamily) !important;
}

.delete_modalSubTitleText {
  font-size: 20px !important;
  font-weight: 500 !important;
  text-align: center !important;
  margin-bottom: 40px !important;
  font-family: var(--fontFamily) !important;
}

.delete_modalBorder {
  height: 1px;
  margin: 32px 0px;
  border-bottom: 0.3px solid var(--gray);
}

.delete_btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .delete_modalSubContainer {
    width: 75%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .delete_modalSubContainer {
    width: 40%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .delete_modalSubContainer {
    width: 40%;
  }
}
